body{
    width: 80%;
    font-family: cursive;/*police de l'écriture*/
    margin: 10px auto;/*permet de centrer le body à l'intérieur de mon écran*/
}

#contenu{
  background-color: #7B68EE;
  border: 2px solid black;
}

header, footer{
  height: 80px;
  background-color: #DA70D6;
  color: #fff;
  text-align: center;
  padding-top: 6px
}

nav{
  height: 40px;
  background-color: #BC8F8F;
  color: #fff;
  padding-left: 20px;
  padding-top: 6px;
}

section{
  border: 20px solid #D87093;
  background-color: #9370D8;
  height: 500px;
  text-align: center;
}
p{
  margin: 0;
}
