@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
/*----- HEADER -----*/
header{
    position: relative;
    background-image: url(../img/planks0096.jpg);
}

nav{
    top: 40px;
    position: absolute;/*position fixe par rapport au parent*/
    right: 25px;
    }
    nav a{
        margin: 30px;
        font-size: 30px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Caveat Brush', cursive;
    }
.logoResto{
    position: relative;
    display: inline-block;
    margin-left: 80px;
}
h1{
    font-family: 'Caveat Brush', cursive;
    text-transform: uppercase;
    font-size: 50px;
    }
    h1 span{
        font-size: 40px;
        display: inline;
        vertical-align: top;
        position: relative;
        }
        h1 span:after{
            top: 20px;
            content: "-";
            position: absolute;
            left: 0;
        }
#logo{
    width: 300px;
    margin: auto;
    position: relative;
    margin-top: 250px;
    padding-bottom: 250px;
    }
    #logo div{
        width: 0;
        height: 0;
        border-top: 250px solid #e53f6f;
        border-left: 250px solid transparent;
    }
    #logo img{
        top: -27px;
        position: absolute;
        width: 100%;
    }
.inlineB{
    display: inline-block;
}
/*Les traits roses*/
.rectRose{
    position: absolute;
    bottom: -15px;
    margin: 0;
    display: block;
    border: 7px solid #e53f6f;
    padding: 0 17px;
    width: 0px;
    left: 26%;
}

/*flèche*/
i{
    margin-top: 5vw;
    display: block;
    font-style: normal;
    position: relative;
}

i#fleche{
    top: 4vw;
    left: -7vw;
    width: 3.4em;
    height: 3.4em;
    border-right: 0.3em solid #d4276d;
    border-top: 0.3em solid #d4276d;
    transform: rotate(134deg);
}

/*----- FIN HEADER -----*/

/*----- Section -----*/
h2{
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
}
#story h2{
    font-size: 55px;
}

section .rectRose{
    position: inherit;
    margin: auto;
    left: 0;
    bottom: 15px;
}

section img{
    width: 100%;
}

/*----- FIN SECTION -----*/
