body{
    margin: 10px 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin: 32%;
    height: 2px;
}

h1#header{
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    line-height: 87px;
    font-size: 4.2em;
    }

ul{
    list-style-type: none;
    }
    nav ul li a{
        text-align: center;
    }
    ul li a{
        color: black;
        float: left;
        padding: 5px;
        }
div#contenu{
    padding: 51px 30px 0 100px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    text-align: center;
}

span#city1{
    color: darkred;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 10px;
}

h2.titre{
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    line-height: 87px;
    font-size: 4.2em;
}

#a1, #a3{
    float: right;
}
